html {
    box-sizing: border-box;
    margin: 0 auto;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font: 16px 'Montserrat', sans-serif;
}
html,body, .wrapper{
    height: 100%;
}
a {
    text-decoration: none;
    color: #333333;
}
h1{
    font-size: 48px;
    margin: 0 auto;
}
h1, p{
    color: #333333;
}
header{
    background-image: url("../img/fone.svg");
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.header,
.footer {
    flex-shrink: 0;
}
footer, header, main{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    height: auto;
}
.container{
    margin-right: 163px;
    margin-left: 165px;
}
.header__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
    margin-top: 30px;
}
.logo{
    font-size: 24px;
    color: #333333;
    display: inline-block;
    font-weight: bold;
}
.navigation ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.navigation li:not(:last-child){
    margin-right: 28px;
}
.active a{
    font-size: 14px;
}
.navigation a:hover {
    color: #00BF78;
}
.information{
    text-align: right;
}
.information__title{
    font-size: 18px;
    font-weight: 500;
    line-height: 8px;
    margin: 0 auto;
}
.information__subtitle{
    font-size: 11px;
    margin: 0 auto;
    padding-top: 11px;
}
.hero__content, .container__about-video,
.benefit, .footer__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__title{
    font-weight: 600;
    font-size: 48px;
}
.hero__subtitle{
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 60px;
}
.btn{
    font-size: 14px;
    width: 203px;
    height: 48px;
    border-radius: 24px;
    background-color: #FB9475;
    color: #ffffff;
    cursor: pointer;
    border: 0;
}
.hero__social ul{
    list-style: none;
    padding-left: 0;
}
.hero__social li:not(:last-child){
    margin-bottom: 18px;
}
.header__bottom{
/*    width: 472px;
    height: 472px;
    background-color: #FB9475;
    border-radius: 50%;*/
    float: right;
    margin-right: 93px;
    margin-top: -229px;
}
.header__girl{
    float: right;
    margin-top: -124px;
}
.main{
    margin-top: 99px;
}
.about{
    float: left;
    width: 569px;
}
.about__subtitle{
    font-size: 20px;
    padding-top: 32px;
    padding-bottom: 16px;
    margin: 0 auto;
    line-height: 32px;
}
.about__subtitle1{
    font-size: 16px;
    padding-bottom: 16px;
    line-height: 26px;
}
.about__expand{
    color: #278AFF;
    font-size: 14px;
}
.video{
    float:right;
}
.video_play{
    padding-top: 91px;
}
.benefit{
    margin-top: 99px;
    text-align: center;
}
.benefit__icon{
    width: 350px;
    height: 176px;
}
.benefit__title{
    font-size: 18px;
    margin-top: 28px;
    margin-bottom: 0px;
}
.benefit__subtitle{
    font-size: 14px;
    line-height: 22px;
    margin-top: 12px;
    margin-bottom: 0px;
}
.footer__title{
    font-size: 12px;
}
.politic{
    color: #278AFF;
    text-decoration: underline;
}
.footer__container{
    margin-top: 20px;
}
.text__politic{
    line-height: 24px;
}
.navigation__footer a{
    font-size: 12px;
}